* {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

video {
    min-height: 100vh;
    position: fixed;
    inset: 0;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    background-color: blueviolet;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: cadetblue;
}